
# ignore all Altium Previews
*.SchDotPreview
*.SchDocPreview
PCB/History/

PCB/debug\.log

PCB/Project Outputs for Kello/Gerber/Gerber-macro\.APR_LIB

PCB/Project Outputs for Kello/Gerber/Gerber\.apr

PCB/Project Outputs for Kello/Gerber/Gerber\.EXTREP

PCB/Project Outputs for Kello/Gerber/Gerber\.REP

PCB/Project Outputs for Kello/Gerber/Gerber\.RUL

PCB/Project Outputs for Kello/Project Outputs for Kello\.zip

PCB/Project Outputs for Kello/Status Report\.Txt

NEON/

sh.exe.stackdump
*.stackdump
